<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>SQA</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Security & QA</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bad Example</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h2>Topic : Bad Example</h2>
        <div class="jumbotron">
            <p><strong>Bad Example Scenarios for Security Testing:</strong></p>
            <ul>
                <li>A password is not in encrypted format</li>
                <li>Application or System is allowing invalid users</li>
                <li>Cookies and session are not checked in time for application</li>
                <li>For financial sites, the Browser back button works.</li>
            </ul>
            <p><strong>5 Common Bad Practices to Avoid</strong></p>
            <ul>
                <li><strong>Little time allocated for testing.</strong> Testing is one of the project phases that are
                    often cut out. This is dangerous since the testing can give you a level of
                    optimism that is unlikely to be kept in the project life cycle. The opinion that we are building the
                    product so well
                    that we can test it in a short period of time – is a phrase that should never be mentioned in your
                    project meetings.</li>
                <li><strong>Scope of testing too narrow. </strong>Testing just the use cases is not enough. Anyone can
                    go through the process and get a positive outcome in a test: if the
                    developers have built it to your spec, it will probably pass because you assume they’ve done a good
                    job.

                    You should try different testing approaches in your projects, and consequently, you should encourage
                    the users to start
                    trying “creative” ways to process data and get around the prescribed workflows, in order to realize
                    whether your app is
                    bug-free.</li>
                <li><strong>Formal procedure not established.</strong>Each department or organizational sector should
                    sign off the testing – to say that they are happy it has been completed
                    adequately. This is important for your audit process and also for a bit of reserve covering for
                    later.

                    No matter the quality of your testing, someone at some point will ask who has created the testing
                    strategy – and you
                    should be safe in the knowledge that you’ve got the answers. In other cases, you may look naive.
                </li>
                <li><strong>Inexperienced testers.</strong>The companies that have established a permanent testing
                    division that is used to test all kinds of developments and
                    products – are in better position. On the other side – many companies hire testers with a particular
                    background or skill
                    – especially when new systems are being implemented and we do not have the knowledge in house to
                    test.</li>
                <li><strong>Lousy documentation.</strong>It’s not enough just to run your tests and decide that they are
                    complete. If you just click on the system checking out
                    some scenarios, that’s manipulation with the product, not testing it. The testing can not be serious
                    unless there is
                    something in writing that tells me what you have done and what the outcome was.</li>
            </ul>
            <p><strong>Really Bad Exampl!</strong></p>
            <p>This demo shows how bad security can cost user their privacy and much more!</p>
            <form action="./formHandle.js" method="GET">
                <label for="name">Name : </label>
                <input type="text" id="name">
                <label for="pwd">Password : </label>
                <input type="password" id="pwd">
                <button type="submit" id="submit" class="submit">Submit</button>
            </form>
        </div>

        <script>
            const sub = document.getElementById("submit");

            const callBack = (e) => {

                e.preventDefault();
                var name = document.getElementById("name");
                var pwd = document.getElementById("pwd");

                localStorage.setItem('username', name.value);
                localStorage.setItem('pswd', pwd.value);

                const passwordCheck = pwd.reportValidity();

                if (passwordCheck) {

                    if (username.value === 'ud' && password.value === 'ud') {
                        document.cookie = "admin=true; SameSite=None; Secure";
                        window.location = '/welcomeAdmin.html';
                        console.log(" Logging in as am admin");
                    } else {
                        window.location = '/site/user.html';
                        console.log(" Logging in as normal user!");
                    }
                }
            };

            sub.addEventListener("click", callBack, false);
        </script>
    </div>
</body>

</html>