<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>SQA</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Security & QA</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Qualiry Assuarance</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h2>Topic : Quality Assuarance</h2>
        <div class="jumbotron">
            <p>Quality assurance (QA) is any systematic process of determining whether a product or service meets
                specified
                requirements.</p>
            <p>QA establishes and maintains set requirements for developing or manufacturing reliable products. A
                quality assurance
                system is meant to increase customer confidence and a company's credibility, while also improving work
                processes and
                efficiency, and it enables a company to better compete with others.</p>
            <p><strong>Importance of quality assurance</strong></p>
            <p>Quality assurance helps a company create products and services that meet the needs, expectations and
                requirements of
                customers. It yields high-quality product offerings that build trust and loyalty with customers. The
                standards and
                procedures defined by a quality assurance program help prevent product defects before they arise.</p>
            <p><strong>Quality assurance methods</strong></p>
            <ul>
                <li><strong>Failure testing, </strong>which continually tests a product to determine if it breaks or
                    fails. For
                    physical products that need to withstand
                    stress, this could involve testing the product under heat, pressure or vibration. For software
                    products, failure testing
                    might involve placing the software under high usage or load conditions.</li>
                <li><strong>Statistical process control (SPC), </strong>a methodology based on objective data and
                    analysis and developed by Walter Shewhart at Western Electric Company and Bell
                    Telephone Laboratories in the 1920's and 1930's. This methodology uses statistical methods to manage
                    and control the
                    production of products.</li>
                <li><strong>Total quality management (TQM), </strong>which applies quantitative methods as the basis for
                    continuous improvement. TQM relies on facts, data and analysis to
                    support product planning and performance reviews.</li>
            </ul>
            <p><strong>Quality assurance measures</strong> </p>
            <ul>
                <li>Version control and your branching model is included!</li>
                <li>Code linting is done by ESLint which is vs code extention!</li>
                <li>Lighthouse and axe DevTools testing is done and implemented!</li>
                <li>Installed mocha and chai to do unit testing! Added string check of greetings!</li>
                <li>Site is built via vite build tools!</li>
            </ul>
        </div>

    </div>
    <script type="module" src="/main.js"></script>
</body>

</html>